@{
  Layout = "_Layout";
}

@using HairSalon.Models

@{
  Stylist stylist = ViewData["stylist"] as Stylist;
  List<Client> clients = ViewData["clients"] as List<Client>;
}

<h1>Eau Claire's Salon</h1>
<hr />
<h2>Stylist Details</h2>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a>@Html.ActionLink("Edit Stylist", "Edit", new { id = stylist.StylistId })</a>    
  </li>
  <li class="nav-item">
    <a>@Html.ActionLink("Back to stylists", "Index")</a>    
  </li>
</ul>
<h4>Stylist: @stylist.FirstName @stylist.LastName</h4>
<h4>Phone number: @stylist.Phone</h4>
@if (stylist.Email != null)
{
  <h4>Email: @stylist.Email</h4>
} 
else
{
  <h4>Email: None</h4>
}
@if (stylist.Specialty != null)
{
  <h4>Specialty: @stylist.Specialty</h4>
} 
else
{
  <h4>Specialty: None</h4>
}
<ul>
  @foreach (Client client in clients)
  {
    <li>@Html.ActionLink($"{client.FirstName}" + " " + $" {client.LastName}", "Details", "Clients", new { id = client.ClientId})</li>
  }
</ul>