@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Eau Claire's Salon</h1>
<hr />
<h2>Client Details</h2>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a>@Html.ActionLink("Edit this client", "Edit", new { id = Model.ClientId })</a>
  </li>
  <li class="nav-item">
    <a>@Html.ActionLink("Back to client list", "Index")</a>
  </li>
  <li class="nav-item">
    <a>@Html.ActionLink("Back to stylist list", "Index", "Stylists")</a>
  </li>
</ul>
<h4>Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
<h4>Phone number: @Html.DisplayFor(model => model.Phone)</h4>
@if (Model.Email != null)
{
  <h4>Email: @Html.DisplayFor(model => model.Email)</h4>
}
else
{
  <h4>Email: None</h4>
}
<h4>Stylist: @Html.DisplayFor(model => model.Stylist.FullName)</h4>
